body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* HEADING */
h1 {
    font-weight: normal;
    font-size: 50px;
    color:white;
}

.h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color:white;
}

.h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color:gray;
}

    /* LINKS */

.link-cts {
        font-size: 16px;
        color:aquamarine;
}
    